@page "/item-list"

<h3>ItemList</h3>

@if (_data.IsError)
{
    @switch (_data.FirstError.Code)
    {
        case "Task.Failed":
            <div class="alert alert-danger" role="alert">
                <p>
                    @_data.FirstError.Code
                </p>
                <p>
                    @_data.FirstError.Description
                </p>
            </div>
            break;
        case "Api.NotLoaded":
            <p>...loading</p>
            break;
    }
}
else
{
    <div class="list-group">
        @foreach (var item in _data.Value)
        {
            <a href="/ItemList" class="list-group-item list-group-item-action">
                @item.Name
            </a>
        }
    </div>
}